<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Store-${storeTypeIncamelCase}-Test-Suite" parallel="false">
    <test name="Siddhi-store-${storeTypeInLowerCase}-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="${package}.${storeTypeInLowerCase}.TestCaseOf${className}"/>
        </classes>
    </test>
</suite>
