<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-script-${storeType}-Test-Suite">
    <test name="Siddhi-script-${storeType}-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="${package}.${storeType}.TestCaseOf${className}"/>
        </classes>
    </test>
</suite>