<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Io-${typeOf_IOinCamelCase}-Test-Suite">
    <test name="Siddhi-io-${typeOf_IOinLowerCase}-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="${package}.${typeOf_IOinLowerCase}.sink.TestCaseOf${classNameOfSink}"/>
            <class name="${package}.${typeOf_IOinLowerCase}.source.TestCaseOf${classNameOfSource}"/>
        </classes>
    </test>
</suite>
