#set ($stringLength = $classNameOfSinkMapper.length() - 10)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Siddhi-Map-#if($classNameOfSinkMapper.endsWith("SinkMapper"))$classNameOfSinkMapper.substring(0, $stringLength)#else$_mapType.substring(0,1).toUpperCase()$_mapType.substring(1)#end-Test-Suite">
    <test name="Siddhi-map-${_mapType.toLowerCase()}-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="${package}.sinkmapper.TestCaseOf${classNameOfSinkMapper}"/>
            <class name="${package}.sourcemapper.TestCaseOf${classNameOfSourceMapper}"/>
        </classes>
    </test>
</suite>
