#set ($stringLength = $classNameOfSink.length() - 8)
<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Execution-#if($classNameOfFunction.endsWith("Function"))$classNameOfSink.substring(0, $stringLength)#else$_nameOfFunction.substring(0,1).toUpperCase()$_nameOfFunction.substring(1)#end-Test-Suite">
    <test name="Siddhi-execution-${_nameOfFunction.toLowerCase()}-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="${package}.aggregate.TestCaseOf${classNameOfAggregateFunction}"/>
            <class name="${package}.function.TestCaseOf${classNameOfFunction}"/>
            <class name="${package}.streamfunction.TestCaseOf${classNameOfStreamFunction}"/>
            <class name="${package}.streamprocessor.TestCaseOf${classNameOfStreamProcessor}"/>
            <class name="${package}.window.TestCaseOf${classNameOfWindow}"/>
        </classes>
    </test>
</suite>
