<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Testsuite">
    <test name="Siddhi-Testsuite-Tests" parallel="false">
        <classes>
            <class name="sample.blackbox.BlackBoxTestsOfTemperatureApp"/>
            <class name="sample.integration.IntegrationTestsOfTemperatureApp"/>
            <class name="sample.unit.UnitTestsOfTemperatureApp"/>
            <class name="template.blackbox.${classNameOfBlackBoxTest}"/>
            <class name="template.integration.${classNameOfIntegrationTest}"/>
            <class name="template.unit.${classNameOfUnitTest}"/>
        </classes>
    </test>
</suite>
