<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Testsuite-${_nameOfTestsuite}">
    <test name="Siddhi-Testsuite-${_nameOfTestsuite.toLowerCase()}-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="${package}.blackboxtests.BlackBoxTestsOf${classNameOfTestsuite}"/>
            <class name="${package}.integrationtests.IntegrationTestsOf${classNameOfTestsuite}"/>
            <class name="${package}.unittests.UnitTestsOf${classNameOfTestsuite}"/>
        </classes>
    </test>
</suite>
